
/*#################Loader Page#####################*/

#preloader {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    z-index: 100;
    text-align: center;
}

.center-wave {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(to right,black, #A71E34);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 1px;
}
.wave:nth-child(2) {
    animation-delay: 0.1s;
}
.wave:nth-child(3) {
    animation-delay: 0.2s;
}
.wave:nth-child(4) {
    animation-delay: 0.3s;
}
.wave:nth-child(5) {
    animation-delay: 0.4s;
}
.wave:nth-child(6) {
    animation-delay: 0.5s;
}
.wave:nth-child(7) {
    animation-delay: 0.6s;
}
.wave:nth-child(8) {
    animation-delay: 0.7s;
}
.wave:nth-child(9) {
    animation-delay: 0.8s;
}
.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/*#################Navigation Bar#####################*/
.active{}

.nav-link{
    font-family: 'Roboto', sans-serif;
}

nav .navbar-nav li a{
    color: #85182A !important;
}
.gotopbtn
{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #A71E34;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 32px;
}
a:hover {
    color: black;
}

.scrollFade {
    opacity: 1;
    pointer-events: all;
}

.scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
}

.scrollFade--visible {
    opacity: 1;
    pointer-events: all;
}

.scrollFade--animate {
    transition: opacity 1.5s ease-in-out;
}
/*#################Vertical Navigation#####################*/

.navbar-vertical {
    position: fixed;
    right: 3.2rem;
    top: 50%;
    transition: visibility 0s 1s, opacity 0.3s ease-in-out, transform 1s ease-in-out;
    transform: translateY(-50%);
}

.navbar-vertical .navbar__item {
    position: relative;
    transition: visibility 0s 1s, opacity 0.3s ease-in-out, transform 1s ease-in-out;
    margin-bottom: 2.4rem;
}
.navbar-vertical .navbar__circle {
    display: block;
    border-radius: 50%;
    border: 3px solid white;
    width: 1rem;
    height: 1rem;
    overflow: hidden;

    position: relative;
}

/* the "fill" */
.navbar-vertical .navbar__circle::after {
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    width: 100%;

    transition: height 0.3s ease-in-out;
}

.navbar-vertical .navbar__circle:hover::after,
.navbar-vertical .navbar__circle.active::after {
    height: 100%;
}

.navbar__title {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    /*height: 2.2rem;*/
    max-width: 15rem;
    transform: translateY(calc(-50% + 18px));
    font-size: 14px;
    /*padding: 0.8rem 1.6rem;*/
    margin-right: 0rem;
    display: flex;
    /*align-items: center;*/
    color: #fff;
    /*color: #A71E34;*/
    /*border: 1px solid #A71E34;*/
    /*border-radius: 4px;*/
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 0.3s, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.navbar__title::before,
.navbar__title::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    transform: translateY(-50%);
}

.navbar-vertical a:hover .navbar__title {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%);
    transition: visibility 0s, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/*#################TYPICAL CHANGES#####################*/
body{
    background-color: #000000;
    scroll-behavior: smooth;
}


h6{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-top: 12px;
    font-size: 12px;
    border-top: 0.1px solid white;
}
h7{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-top: 8px;
    font-size: 10px;
    line-height: 10px;
    /*border-top: 0.1px solid white;*/
}

.row{
    display: flex;
    justify-content: center;
    position: center;

    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
}


.label, .text-legend2 {
    font-family: 'Roboto', sans-serif;
    font-weight:normal ;
    color: white;
    fill: white;
    font-size: 12px;
}



/* #######ADDED STYLING WITH TEXT #######*/

.main-heading-text, .sub-heading-text, .intro-text{padding-left: 150px; padding-right: 150px}
.section-heading-text, .section-subheading-text,.user-text{padding-left: 150px; padding-right: 150px;color: white;}

.main-heading-text, .sub-heading-text, .section-heading-text,.section-subheading-text, .medium-caption{font-family: "Times New Roman";color: white; }
.intro-text, .placeholder-text, .link-text, .link-text-small{font-family: 'Roboto Light', sans-serif; color: white;}


.main-heading-text{ line-height: 70px;font-size: 100px;}
.sub-heading-text{ font-size: 32px; }
.medium-caption{ font-size: 20px;}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.highlight-text{ font-family: 'Roboto Medium', sans-serif; }
.section-heading-text{ line-height:22px;text-align: left;!important; font-size: 40px; font-weight: normal;}
.section-subheading-text{ text-align: left;!important; font-size: 20px; font-weight: lighter; padding-top: 8px;}
.intro-text{ font-size: 15px; text-align: left;!important; color: rgba(255, 255, 255,1.0); }


.user-text{
    font-family:'Roboto Thin', sans-serif;
    font-size: 15px;

    /*color: grey;*/
    margin-bottom: -20px;
}


.placeholder-text{ color: hotpink}

.link-text{
    color: white;
    text-decoration: underline;
    font-size: 14px;
}

.link-text:hover{
    color: #85182A;
    font-size: 16px;
}


.video-div{
    margin-right: 75px;
}

.img-div{
    margin-right: 90px;
}


.card-title{
    text-align: center;
    font-style: normal;
}

.card-text{
    font-family: 'Roboto Light', sans-serif;
    text-align: center;
    font-weight: lighter;
}

hr.solid {
    border-top: 0.05px solid rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* #######Styling for the dendo legend #######*/
.legend-dendo{
    font-family: 'Roboto Light', sans-serif;
    color: lightgrey;
    font-weight: lighter;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 30px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    vertical-align: center;
}

#arrowAnim {
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 1vw;
    height: 1vw;
    border: 0.2vw solid;
    border-color: white transparent transparent white;
    transform: rotate(135deg);
}


.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 2s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(2vw); }
    20% { opacity:1; transform: translateX(0.5vw); }
    80% { opacity:1; transform: translateX(-0.5vw); }
    100% { opacity:0; transform: translateX(-2vw); }
}
@keyframes slide {
    0% { opacity:0; transform: translateX(2vw); }
    20% { opacity:1; transform: translateX(0.5vw); }
    80% { opacity:1; transform: translateX(-0.5vw); }
    100% { opacity:0; transform: translateX(-2vw); }
}

.card-title-about{
    text-align: center;
    font-size: 30px;
}
.card-text-about{
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Roboto Light', sans-serif;
}

.list-text{
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Roboto Light', sans-serif;
}


.img-about{
    width: 20%;!important;
}

.added-margin{
    margin-right: 40px;
}



/* ####### FINISH OF ADDED STYLING WITH TEXT #######*/
.tooltipBar{
    font-family: 'Roboto', sans-serif;
    color: white;
    fill: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-anchor: middle;
    text-align: center;

}


.tooltip_text_desc_min {
    font-family: 'Roboto Light', sans-serif;
    color: white;
    fill: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    font-size: 12px;
}

.tooltip_text_desc_max{
    font-family: 'Roboto Light', sans-serif;
    color: white;
    fill: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    font-size: 12px;
}

.tooltip_text{
    font-family: "Times New Roman";
    color: white;
    font-size: 40px;
    fill: white;
}

.tooltip_chart_text{
    font-family: 'Roboto', sans-serif;
    font-weight:normal ;
    color: white;
    fill: rgba(255, 255, 255, 0.75);
    font-weight: lighter;
    font-size: 12px;
}

.text-legend, .text-legend3{
    font-family: 'Roboto', sans-serif;
    font-weight:normal ;
    font-size: 12px;
}



.title{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    /*height: 200px;*/
    /*border: 3px solid green;*/
}

input{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    stroke: none;
    height: 120px;
    width: 120px;

    text-align: center;
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 60px;

    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;

    text-align: center;
    position: relative;

    color: #A71E34;
    background-color: rgba(255, 255, 255, 1.0);
    stroke: none;
    height: 60px;
    width: 60px;

    text-align: center;
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border-radius: 30px;

    top: 30px;
    right: 5px;
    bottom: 0px;
    left: -20px;

}

button{
    color: rgba(255, 255, 255, 0.8);
}





.container{
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
}

.no-gutters {
    /*margin-right: 0px;*/
    /*margin-left: 0px;*/
}


.container{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 12px;
    alignment: center;
    position: relative;

}



.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: center;
    z-index: 1000;
}
.option-input:hover {
    background: rgba(255, 255, 255, 0.3);
}
.option-input:checked {
    background: rgba(255, 255, 255, 0.8);
}
.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    /*content: "\f111";*/
    /*font-family: "Font Awesome 5 Free";*/
    display: inline-block;
    /*font-size: 10px;*/
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.25s;
    -moz-animation: click-wave 0.25s;
    animation: click-wave 0.25s;
    background: rgba(255, 255, 255, 0.8);
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 80%;
}
.option-input.radio::after {
    border-radius: 80%;
}

/*###############INTRODUCTION#####################*/
/*.main{padding-top: 50px; padding-left: 50px; padding-right: 50px;}*/
/*body{background-color: rgba(0, 0, 0, 0.99);}*/
#introduction{padding-left: 0px;padding-right: 0px;padding-top: 0px;}
.intro_text-legend-year, .intro_text-legend-temp { font-family: Helvetica; font-weight:normal ; color: white; fill: white; font-size: 10px; }
.intro_text-legend-display, .intro_text-legend-country {font-family: Helvetica; font-weight: lighter; font-size: 4px; }
.intro_tooltip_circle_text{font-family: "Times New Roman"; font-weight: lighter; color: white; font-size: 40px; fill: white;}
.intro_tooltip_circle_chart_text{font-family: "Times New Roman"; font-weight: lighter; color: white; font-size: 20px; fill: white;}
.intro_legend_country_text{ font-family: "Times New Roman"; font-weight:normal ; color: white; fill: white; font-size: 15px; }

/*###################CARD IMG #####################*/
.card-title{ font-size: 18px; font-weight: 900; }
.card-text{font-size: 10px; font-weight: 1; color: rgba(255, 255, 255, 1.0)}
img{object-fit: scale-down;}



/*##################DENDO STYLES##################*/


.card-img-top {
    width: 90%;
    /*height: 5vw;*/

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border-color: black;
}
.card h-100{
    border-color: black;
    background-color: black;
}
.node circle {
    fill: #fff;
}

.node text {
    font-size: 10px;
    font-family: 'Roboto Light', sans-serif;
}

.link {
    fill: none;
    opacity: 0.2;
    stroke: #ccc;
    stroke-width: 2px;
}
.button-dendo {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*color: black;*/


    text-align: center;
    position: relative;

    color: rgb(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    stroke: none;
    height: 60px;
    width: 60px;

    text-align: center;
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 30px;

    top: 30px;
    right: 5px;
    bottom: 0px;
    left: -20px;
}


.active-dendo, .button-dendo:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;


    text-align: center;
    position: relative;

    height: 60px;
    width: 60px;

    text-align: center;
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 30px;

    top: 30px;
    right: 5px;
    bottom: 0px;
    left: -20px;
}
/*################## MAP STYLES##################*/
#county-map{
    min-width: 665px;
    min-height: 450px
}
#county-tooltip{

    visibility: hidden;
    position: absolute;
    font-family: Arial;
    color: rgba(255, 255, 255, 1.0);
    font-size: 10px;
}

#state-map{
    min-width: 665px;
    min-height: 450px
}

#state-tooltip{
    visibility: hidden;
    position: absolute;
    font-family: Arial;
    color: rgba(255, 255, 255, 1.0);
    font-size: 10px;
}

/*################## Stacked Res Comm CHARTS##################*/

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.axis-stacked path {
    /*stroke: black;*/
    /*stroke-width: 2px;*/
}
.axis-stacked tick,
.axis-stacked line {
    fill: none;
    stroke: white;
    /*shape-rendering: crispEdges;*/
    shape-rendering: geometricPrecision;
    /*shape-rendering: auto;*/
}
.yipsvg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.area {
    opacity: 0.7;
    clip-path: url(#clip);
}
.area:hover {
    opacity: 1;
}
#header-content{
    height: 15vh;
}

#content-area-graph{
    height: 60vh;
}

#res-stacked-area-chart{
    background-size: contain
}
#res-stacked-tooltip{
    visibility: hidden;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background: white;
    border: 2px solid black;
    left: 100px;
    padding: 5px;
    border-radius: 5px;
}
#comm-stacked-area-chart{
    background-size: contain
}
#comm-tooltip{

    font-family: 'Roboto', sans-serif;
    color: white;
    left: 100px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
#res-comm-tooltip{

    font-family: 'Roboto', sans-serif;
    color: white;
    left: 100px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

#res-tooltip{

    font-family: 'Roboto', sans-serif;
    color: white;
    left: 100px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


/*################## FLIP CARD Styles ##################*/
.scene-bar {
    display: inline-block;
    width: 30vw;
    height: 40vh;
    /*   border: 1px solid #CCC; */
    margin: 40px;
    perspective: 600px;
}

.card-bar {
    position: relative;
    width: 90%;
    height: 90%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card-bar.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-bar__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-bar__face--front {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), black);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 275px;
    font-weight: lighter;
    border-color: black;
}


.card-bar__face--back {
    background: black;
    transform: rotateY(180deg);
    color: white;
    font-size: 15px;
}


/*################## TreeMap CHART ##################*/
.up {
    /*position: fixed;*/
    width: 100%;
    top: 0;
    padding: 16px;
    z-index: 100;
    font: bold 14px/1 sans-serif;
    color: black;
    width: 92px;
    padding: 8px;
    background-color: white;
    float: left;
    cursor: pointer;
}
.up:hover {
    background-color: grey;
    color: white;
}

.feature-tree {
    position: relative;
    width: calc(100% - 0 * 2 * 1px);
    height: calc(100% - 0 * 2 * 1px);
    margin: 0px;
    overflow: hidden;
    stroke: black;
    stroke-width:3px;
}

.node-treemap {
    position: absolute;
    background: transparent  no-repeat 50%/cover;
    overflow: hidden;
    opacity: 0.95;

    transition: opacity 1s;
    cursor: pointer;
}
.node-treemap .label {
    display: inline;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: color 0.4s, opacity 1s, filter 0.8s;
    stroke: black;
    stroke-width:3px;
}
.node-treemap.hide {
    opacity: 0;
    pointer-events: none;
    stroke: black;
    stroke-width:3px;

}
.node-treemap.hide .label {
    filter: blur(10px);
    stroke: black;
    stroke-width:3px;
}
.node-treemap:hover .label {
    color: white;
    stroke: black;
    stroke-width:3px;
}
.node-treemap.level-0 {
    z-index: 4;
    font-size: 30px;
    display: none;
    stroke: black;
    stroke-width:12px;
}
.node-treemap.level-1 {
    z-index: 3;
    font-size: 25px;
    stroke: black;
    stroke-width:1px;
}
.node-treemap.level-2 {
    z-index: 2;
    font-size: 12.5px;
    stroke: black;
    stroke-width:3px;
}
.node-treemap.level-3 {
    z-index: 1;
    font-size: 2.5vmin;
    stroke: black;
    stroke-width:3px;
}